
%composite-layer
  +transform(translateZ(0))

#firstLoad
  z-index: 0
  position: absolute
  top: 50%
  left: 50%
  img
    margin-left: -50px
    margin-top: -50px
    width: 100px

.app-page
  width: 100%
  height: 100%
  display: none
  overflow: auto
  z-index: 1

input, button
  +appearance(none)
  border: 0
  vertical-align: bottom

button
  cursor: pointer

a
  color: $trybesDarkBlue
  text-decoration: none
  &.white-link
    color: White
    border-bottom: 3px White solid

strong
  font-weight: bold

.display-table
  width: 100%
  height: 100%
  display: table

.arrow-up
  width: 0
  height: 0
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-bottom: 10px solid $trybesDarkBlue

.arrow-down
  width: 0
  height: 0
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-top: 10px solid $trybesDarkBlue