@import "compass/css3"
@import "compass/reset"

html, body, #app
  width: 100%
  height: 100%
  overflow: hidden
  background: Black
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif


// webkit touch devices
*
  -webkit-tap-highlight-color: rgba(0,0,0,0) // make transparent link selection, adjust last value opacity 0 to 1.0

body
  -webkit-touch-callout: none                // prevent callout to copy image, etc when tap to hold
  -webkit-text-size-adjust: none             // prevent webkit from resizing text to fit
  -webkit-user-select: none                  // prevent copy paste, to allow, change 'none' to 'text'


%composite-layer
  +transform(translateZ(0))

.app-page, #appView
  width: 100%
  height: 100%
  overflow-x: hidden
  overflow-y: auto
  z-index: 1

#appView
  position: absolute
  top: 0
  left: 0
  z-index: 6000
  +transform(translate(100%, 0))
  +transition(transform 0.3s)
  background-color: $darkBlue
  text-align: center
  &.show
    +transform(translate(0, 0))
  header
    z-index: 8000
    a
      text-align: left
      display: block
      color: White
      font-weight: bold
      padding: 10px 0 0 20px
      width: 60px
      height: 30px
      .arrow-left
        display: inline-block

input, button
  +appearance(none)
  border: 0
  vertical-align: bottom

button
  cursor: pointer

a
  color: $darkBlue
  text-decoration: none
  &.white-link
    color: White
    border-bottom: 3px White solid

h1
  font-size: 2em
  font-weight: 100
  line-height: 1.5

strong
  font-weight: bold

.display-table
  width: 100%
  height: 100%
  display: table

.arrow-up
  width: 0
  height: 0
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-bottom: 10px solid $darkBlue

.arrow-down
  width: 0
  height: 0
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-top: 10px solid $darkBlue

.arrow-right
  width: 0
  height: 0
  border-top: 10px solid transparent
  border-bottom: 10px solid transparent
  border-left: 10px solid $lightGray

.arrow-left
  width: 0
  height: 0
  border-top: 10px solid transparent
  border-bottom: 10px solid transparent
  border-right: 10px solid $lightGray
