@import "compass/reset"
@import "compass/css3"

@import "colours"
@import "animations"

html
  width: 100%
  height: 100%

html
  font-weight: 300
  font-size: 10px
  text-align: center
  color: White
  background: url(/images/weighttraining.jpg) no-repeat top center fixed
  +background-size(cover)
  display: table
  +transition(all 1s)

  &.background-outdoor
    background-image: url(/images/outdoor.jpg)

  @media (max-width: 800px)
    font-size: 6px

body
  display: table-cell
  vertical-align: middle
  position: relative

// **** FONTS
h1, h2, h3, h4
  font-family: 'Open Sans', Helvetica, sans-serif
  +text-shadow(rgba(255,255,255,0.01) 0 0 1px)

html, body, p, div, input, button
  font-family: 'Open Sans', Helvetica, sans-serif
  letter-spacing: 1px
// **** FONTS

a
  color: inherit
  font-family: inherit
  &.plain
    text-decoration: none

.bg-black-transp
  background-color: Black
  background-color: rgba(0,0,0,0.6)

.separate
  margin-bottom: 5%

h1, h2, h3, p
  padding: 10px
  margin: 1% 2% 0 2%
  font-weight: 400
  line-height: 1.5em

h1
  font-weight: 400
  font-size: 5em
  padding: 0
  &.brand-header
    a
      vertical-align: bottom
      position: relative
      left: -1em
      img
        width: 1.3em
        position: relative
        bottom: -0.17em
        +border-radius(50%)
        border: 1px solid Black
      span
        position: relative
        top: -0.06em
        left: 0.3em

h2
  font-size: 2.5em
  font-weight: 600
  text-transform: uppercase
  letter-spacing: 3px
h3
  font-size: 2em
  font-weight: 300
p
  font-size: 1.8em
  font-weight: 300

.fitted-container
  display: inline-block
  text-align: justify
  width: 60%
  @media (max-width: 1150px)
    width: 70%
  @media (max-width: 860px)
    width: 80%
  @media (max-width: 540px)
    width: 90%
  @media (max-width: 340px)
    width: 96%

form.invite-request
  display: inline-block
  margin-bottom: 15px
  vertical-align: bottom
  input
    border: 0
    width: 180px
    height: 30px
    vertical-align: bottom
  button
    +appearance(none)
    border: 0
    background: $trybesDarkBlue
    color: inherit
    height: 32px
    width: 100px
    font-size: 12px
    vertical-align: bottom
    &:focus
      outline: 0
    img
      height: 100%


.prompt
  margin: 1% 2% 0 2%

.footer-spacer
  width: 100%
  height: 40px
footer
  position: absolute
  bottom: 0
  width: 100%
  background-color: Black
  font-weight: 300
  ul
    margin: 0 auto
    list-style: none
    width: 320px
    li
      display: inline-block
      font-size: 12px
      margin: 0 10px
      padding: 10px 0
      @media (max-width: 800px)
        font-size: 10px