/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../sass/_base.sass */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

/* line 14, ../../sass/_base.sass */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 17, ../../sass/_base.sass */
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}

@-webkit-keyframes rotateRound {
  /* line 16, ../../sass/_animations.sass */
  0% {
    -webkit-transform: rotate(0);
  }

  /* line 18, ../../sass/_animations.sass */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  /* line 22, ../../sass/_animations.sass */
  0% {
    -webkit-transform: scale(0.8);
  }

  /* line 24, ../../sass/_animations.sass */
  50% {
    -webkit-transform: scale(1.2);
  }

  /* line 26, ../../sass/_animations.sass */
  100% {
    -webkit-transform: scale(0.8);
  }
}

@keyframes rotateRound {
  /* line 32, ../../sass/_animations.sass */
  0% {
    transform: rotate(0);
  }

  /* line 34, ../../sass/_animations.sass */
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  /* line 38, ../../sass/_animations.sass */
  0% {
    transform: scale(0.8);
  }

  /* line 40, ../../sass/_animations.sass */
  50% {
    transform: scale(1.2);
  }

  /* line 42, ../../sass/_animations.sass */
  100% {
    transform: scale(0.8);
  }
}

/* line 47, ../../sass/_animations.sass */
.animRotateRound {
  -webkit-animation: rotateRound 0.8s linear infinite;
  animation: rotateRound 0.8s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 50, ../../sass/_animations.sass */
.animPulse {
  -webkit-animation: pulse 2s ease-in-out infinite;
  animation: pulse 2s ease-in-out infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 2, ../../sass/_general.sass */
#appPage header.main-header, #appPage section {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 5, ../../sass/_general.sass */
#firstLoad {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 10, ../../sass/_general.sass */
#firstLoad img {
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
}

/* line 15, ../../sass/_general.sass */
.app-page {
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;
  z-index: 1;
}

/* line 22, ../../sass/_general.sass */
input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
}

/* line 26, ../../sass/_general.sass */
button {
  cursor: pointer;
}

/* line 29, ../../sass/_general.sass */
a {
  color: #222e42;
  text-decoration: none;
}
/* line 32, ../../sass/_general.sass */
a.white-link {
  color: white;
  border-bottom: 3px white solid;
}

/* line 36, ../../sass/_general.sass */
strong {
  font-weight: bold;
}

/* line 39, ../../sass/_general.sass */
.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

/* line 44, ../../sass/_general.sass */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #222e42;
}

/* line 51, ../../sass/_general.sass */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #222e42;
}

/* line 1, ../../sass/app_page/_app_page.sass */
#appPage {
  overflow: hidden;
}
/* line 4, ../../sass/app_page/_app_page.sass */
#appPage a {
  color: inherit;
}
/* line 2, ../../sass/app_page/_header.sass */
#appPage header.main-header {
  position: fixed;
  z-index: 5000;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
/* line 13, ../../sass/app_page/_header.sass */
#appPage header.main-header ul {
  list-style: none;
  width: 300px;
  margin: 0 auto;
}
/* line 17, ../../sass/app_page/_header.sass */
#appPage header.main-header ul li {
  display: block;
  float: left;
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
/* line 25, ../../sass/app_page/_header.sass */
#appPage header.main-header ul li .arrow-down {
  position: absolute;
  left: 40px;
  top: 0;
  visibility: hidden;
}
/* line 30, ../../sass/app_page/_header.sass */
#appPage header.main-header ul li.active {
  font-weight: bold;
}
/* line 32, ../../sass/app_page/_header.sass */
#appPage header.main-header ul li.active .arrow-down {
  visibility: visible;
}
/* line 9, ../../sass/app_page/_app_page.sass */
#appPage section {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #222e42;
  color: white;
  overflow: auto;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
/* line 20, ../../sass/app_page/_app_page.sass */
#appPage section#feedView {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 1;
}
/* line 25, ../../sass/app_page/_app_page.sass */
#appPage section#profileView {
  z-index: 2;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
/* line 28, ../../sass/app_page/_app_page.sass */
#appPage section#profileView.out {
  -webkit-transform: translate(-100%, -100%);
  -moz-transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  -o-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%);
}
/* line 32, ../../sass/app_page/_app_page.sass */
#appPage section#messageView {
  z-index: 3;
  text-align: center;
  -webkit-transform: translate(0, -200%);
  -moz-transform: translate(0, -200%);
  -ms-transform: translate(0, -200%);
  -o-transform: translate(0, -200%);
  transform: translate(0, -200%);
}
/* line 36, ../../sass/app_page/_app_page.sass */
#appPage section#messageView.out {
  -webkit-transform: translate(100%, -200%);
  -moz-transform: translate(100%, -200%);
  -ms-transform: translate(100%, -200%);
  -o-transform: translate(100%, -200%);
  transform: translate(100%, -200%);
}
/* line 1, ../../sass/app_page/_chat.sass */
#appPage section#messageView .chat {
  display: inline-block;
  background-color: #d8d8d9;
  max-width: 400px;
  min-width: 300px;
  height: 40px;
  margin: 2px 0;
}
/* line 8, ../../sass/app_page/_chat.sass */
#appPage section#messageView .chat.active {
  background-color: #d44513;
}
/* line 10, ../../sass/app_page/_chat.sass */
#appPage section#messageView .chat .chat-conversation-body {
  width: 90%;
  float: right;
  position: relative;
  overflow: hidden;
  height: 40px;
  background-color: inherit;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
/* line 18, ../../sass/app_page/_chat.sass */
#appPage section#messageView .chat .chat-conversation-body.show {
  height: 500px;
  overflow: auto;
  z-index: 10;
}
/* line 22, ../../sass/app_page/_chat.sass */
#appPage section#messageView .chat .chat-message {
  text-align: left;
}
/* line 24, ../../sass/app_page/_chat.sass */
#appPage section#messageView .chat .chat-message .chat-message-author {
  display: inline-block;
}
/* line 40, ../../sass/app_page/_app_page.sass */
#appPage .header-space {
  height: 40px;
}

/* line 2, ../../sass/auth_pages/_auth_pages.sass */
#signinPage, #signupPage {
  background-color: black;
  color: white;
  text-align: center;
}
/* line 7, ../../sass/auth_pages/_auth_pages.sass */
#signinPage form, #signupPage form {
  display: table-cell;
  vertical-align: middle;
}
/* line 10, ../../sass/auth_pages/_auth_pages.sass */
#signinPage form img, #signupPage form img {
  width: 100px;
}
/* line 13, ../../sass/auth_pages/_auth_pages.sass */
#signinPage input, #signinPage button, #signinPage label, #signupPage input, #signupPage button, #signupPage label {
  display: inline-block;
  width: 230px;
  height: 30px;
  margin-top: 15px;
  padding: 10px;
}
/* line 20, ../../sass/auth_pages/_auth_pages.sass */
#signinPage label, #signupPage label {
  width: 250px;
  padding: 0;
  text-align: justify;
  font-size: 13px;
  line-height: 1.3em;
}
/* line 27, ../../sass/auth_pages/_auth_pages.sass */
#signinPage button, #signupPage button {
  width: 250px;
  height: 50px;
  margin-left: -5px;
  background-color: #222e42;
  color: white;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-indent: 8px;
}
/* line 36, ../../sass/auth_pages/_auth_pages.sass */
#signinPage button img, #signupPage button img {
  width: 30px;
}
/* line 39, ../../sass/auth_pages/_auth_pages.sass */
#signinPage .error, #signupPage .error {
  color: #d44513;
  margin-top: 15px;
}
/* line 43, ../../sass/auth_pages/_auth_pages.sass */
#signinPage .reset-password, #signupPage .reset-password {
  display: none;
}
