/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../sass/_base.sass */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

/* line 14, ../../sass/_base.sass */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 17, ../../sass/_base.sass */
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}

@-webkit-keyframes rotateRound {
  /* line 16, ../../sass/_animations.sass */
  0% {
    -webkit-transform: rotate(0);
  }

  /* line 18, ../../sass/_animations.sass */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  /* line 22, ../../sass/_animations.sass */
  0% {
    -webkit-transform: scale(0.8);
  }

  /* line 24, ../../sass/_animations.sass */
  50% {
    -webkit-transform: scale(1.2);
  }

  /* line 26, ../../sass/_animations.sass */
  100% {
    -webkit-transform: scale(0.8);
  }
}

@keyframes rotateRound {
  /* line 32, ../../sass/_animations.sass */
  0% {
    transform: rotate(0);
  }

  /* line 34, ../../sass/_animations.sass */
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  /* line 38, ../../sass/_animations.sass */
  0% {
    transform: scale(0.8);
  }

  /* line 40, ../../sass/_animations.sass */
  50% {
    transform: scale(1.2);
  }

  /* line 42, ../../sass/_animations.sass */
  100% {
    transform: scale(0.8);
  }
}

/* line 47, ../../sass/_animations.sass */
.animRotateRound {
  -webkit-animation: rotateRound 0.8s linear infinite;
  animation: rotateRound 0.8s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 50, ../../sass/_animations.sass */
.animPulse {
  -webkit-animation: pulse 2s ease-in-out infinite;
  animation: pulse 2s ease-in-out infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 2, ../../sass/_general.sass */
header.main-header, #appPage section {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 5, ../../sass/_general.sass */
#firstLoad {
  z-index: 7000;
  position: fixed;
  top: 45%;
  left: 50%;
}
/* line 10, ../../sass/_general.sass */
#firstLoad img {
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
}

/* line 15, ../../sass/_general.sass */
.app-page, #app-view {
  width: 100%;
  height: 100%;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}

/* line 23, ../../sass/_general.sass */
#app-view {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6000;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
  background-color: #222e42;
  text-align: center;
  display: none;
}
/* line 34, ../../sass/_general.sass */
#app-view.show {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 36, ../../sass/_general.sass */
#app-view header {
  z-index: 8000;
}
/* line 38, ../../sass/_general.sass */
#app-view header a {
  text-align: left;
  display: block;
  color: white;
  font-weight: bold;
  margin: 10px 0 0 20px;
}

/* line 45, ../../sass/_general.sass */
input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  vertical-align: bottom;
}

/* line 50, ../../sass/_general.sass */
button {
  cursor: pointer;
}

/* line 53, ../../sass/_general.sass */
a {
  color: #222e42;
  text-decoration: none;
}
/* line 56, ../../sass/_general.sass */
a.white-link {
  color: white;
  border-bottom: 3px white solid;
}

/* line 60, ../../sass/_general.sass */
strong {
  font-weight: bold;
}

/* line 63, ../../sass/_general.sass */
.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

/* line 68, ../../sass/_general.sass */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #222e42;
}

/* line 75, ../../sass/_general.sass */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #222e42;
}

/* line 82, ../../sass/_general.sass */
.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #d8d8d9;
}

/* line 89, ../../sass/_general.sass */
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #d8d8d9;
}

/* line 2, ../../sass/app_page/_header.sass */
header.main-header {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
/* line 13, ../../sass/app_page/_header.sass */
header.main-header ul {
  list-style: none;
  width: 300px;
  margin: 0 auto;
}
/* line 17, ../../sass/app_page/_header.sass */
header.main-header ul li {
  display: block;
  float: left;
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
/* line 25, ../../sass/app_page/_header.sass */
header.main-header ul li .arrow-up {
  position: absolute;
  left: 40px;
  top: 30px;
  visibility: hidden;
}
/* line 30, ../../sass/app_page/_header.sass */
header.main-header ul li.active {
  font-weight: bold;
}
/* line 32, ../../sass/app_page/_header.sass */
header.main-header ul li.active .arrow-up {
  visibility: visible;
}

/* line 35, ../../sass/app_page/_header.sass */
.header-space {
  height: 43px;
}

/* line 1, ../../sass/app_page/_chat.sass */
.chats, .chat {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 auto;
  background-color: whitesmoke;
  color: black;
}

/* line 8, ../../sass/app_page/_chat.sass */
.chat-link {
  display: block;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  border-bottom: 1px solid #222e42;
}
/* line 14, ../../sass/app_page/_chat.sass */
.chat-link img.chat-message-author {
  display: block;
  height: 50px;
  width: 50px;
  margin: 5px;
  float: left;
}
/* line 20, ../../sass/app_page/_chat.sass */
.chat-link .chat-user-name, .chat-link .chat-message-text {
  margin-top: 7px;
  float: left;
  width: 76%;
  text-align: left;
  overflow: hidden;
}
/* line 26, ../../sass/app_page/_chat.sass */
.chat-link .chat-user-name {
  font-size: 1.3em;
  font-weight: 600;
}
/* line 29, ../../sass/app_page/_chat.sass */
.chat-link .chat-message-text {
  height: 20px;
}
/* line 31, ../../sass/app_page/_chat.sass */
.chat-link .arrow-right {
  float: right;
  position: relative;
  top: -8px;
  margin-right: 5px;
}
/* line 36, ../../sass/app_page/_chat.sass */
.chat-link.active {
  background-color: #d44513;
}

/* line 39, ../../sass/app_page/_chat.sass */
.chat {
  height: 100%;
  position: relative;
}
/* line 42, ../../sass/app_page/_chat.sass */
.chat form.chat-input {
  width: 100%;
  position: absolute;
  bottom: 15px;
}
/* line 46, ../../sass/app_page/_chat.sass */
.chat form.chat-input input[type=text] {
  width: 64%;
  height: 37px;
  padding: 1px 10px;
  border-bottom: 1px black solid;
}
/* line 51, ../../sass/app_page/_chat.sass */
.chat button {
  width: 40px;
  height: 40px;
}
/* line 54, ../../sass/app_page/_chat.sass */
.chat button img {
  margin-top: 3px;
  width: 25px;
}
/* line 57, ../../sass/app_page/_chat.sass */
.chat button .arrow-right {
  display: inline-block;
  margin-top: 2px;
  margin-left: 2px;
  border-left: 10px solid #222e42;
}
/* line 62, ../../sass/app_page/_chat.sass */
.chat button.js-view-link {
  background-color: #d44513;
}

/* line 65, ../../sass/app_page/_chat.sass */
.chat-messages {
  position: absolute;
  bottom: 55px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
/* line 71, ../../sass/app_page/_chat.sass */
.chat-messages .header-space {
  height: 109px;
}

/* line 74, ../../sass/app_page/_chat.sass */
.chat-message {
  width: 80%;
  float: left;
  text-align: left;
  clear: both;
  margin-bottom: 10px;
}
/* line 80, ../../sass/app_page/_chat.sass */
.chat-message .chat-message-author {
  display: block;
  height: 30px;
  width: 30px;
  border: 5px solid transparent;
  float: left;
}
/* line 86, ../../sass/app_page/_chat.sass */
.chat-message .chat-message-text {
  background-color: #222e42;
  color: white;
  min-height: 20px;
  max-width: 80%;
  margin-top: 5px;
  line-height: 1.3em;
  padding: 5px;
  float: left;
}
/* line 95, ../../sass/app_page/_chat.sass */
.chat-message .chat-message-not-sent {
  float: right;
}
/* line 97, ../../sass/app_page/_chat.sass */
.chat-message .chat-message-not-sent button {
  margin-right: 5px;
  margin-top: 5px;
  width: 30px;
  height: 30px;
}
/* line 102, ../../sass/app_page/_chat.sass */
.chat-message .chat-message-not-sent button.red {
  width: 55px;
  background-color: #d44513;
}
/* line 105, ../../sass/app_page/_chat.sass */
.chat-message .chat-message-not-sent button img {
  margin-top: 1px;
  margin-left: -3px;
}
/* line 108, ../../sass/app_page/_chat.sass */
.chat-message .chat-message-not-sent button span.retry {
  display: inline-block;
  position: relative;
  top: -7px;
}
/* line 112, ../../sass/app_page/_chat.sass */
.chat-message .chat-message-not-sent button span.arrow-right {
  margin-left: 5px;
}
/* line 114, ../../sass/app_page/_chat.sass */
.chat-message.self {
  float: right;
  text-align: right;
}
/* line 117, ../../sass/app_page/_chat.sass */
.chat-message.self .chat-message-author {
  float: right;
}
/* line 119, ../../sass/app_page/_chat.sass */
.chat-message.self .chat-message-text {
  float: right;
  color: black;
  background-color: #a1abb2;
}

/* line 1, ../../sass/app_page/_profile.sass */
.profile {
  text-align: center;
}

/* line 5, ../../sass/app_page/_app_page.sass */
#appPage {
  overflow: hidden;
}
/* line 8, ../../sass/app_page/_app_page.sass */
#appPage a {
  color: inherit;
}
/* line 11, ../../sass/app_page/_app_page.sass */
#appPage section {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #222e42;
  color: white;
  overflow: auto;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
/* line 22, ../../sass/app_page/_app_page.sass */
#appPage section#feedSection {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 1;
}
/* line 27, ../../sass/app_page/_app_page.sass */
#appPage section#profileSection {
  z-index: 2;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
/* line 30, ../../sass/app_page/_app_page.sass */
#appPage section#profileSection.out {
  -webkit-transform: translate(-100%, -100%);
  -moz-transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  -o-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%);
}
/* line 34, ../../sass/app_page/_app_page.sass */
#appPage section#messageSection {
  z-index: 3;
  text-align: center;
  -webkit-transform: translate(0, -200%);
  -moz-transform: translate(0, -200%);
  -ms-transform: translate(0, -200%);
  -o-transform: translate(0, -200%);
  transform: translate(0, -200%);
}
/* line 38, ../../sass/app_page/_app_page.sass */
#appPage section#messageSection.out {
  -webkit-transform: translate(100%, -200%);
  -moz-transform: translate(100%, -200%);
  -ms-transform: translate(100%, -200%);
  -o-transform: translate(100%, -200%);
  transform: translate(100%, -200%);
}

/* line 2, ../../sass/auth_pages/_auth_pages.sass */
#signinPage, #signupPage {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: -5%;
}
/* line 8, ../../sass/auth_pages/_auth_pages.sass */
#signinPage form, #signupPage form {
  display: table-cell;
  vertical-align: middle;
}
/* line 11, ../../sass/auth_pages/_auth_pages.sass */
#signinPage form img, #signupPage form img {
  width: 100px;
}
/* line 14, ../../sass/auth_pages/_auth_pages.sass */
#signinPage input, #signinPage button, #signinPage label, #signupPage input, #signupPage button, #signupPage label {
  display: inline-block;
  width: 230px;
  height: 30px;
  margin-top: 15px;
  padding: 10px;
}
/* line 21, ../../sass/auth_pages/_auth_pages.sass */
#signinPage label, #signupPage label {
  width: 250px;
  padding: 0;
  text-align: justify;
  font-size: 13px;
  line-height: 1.3em;
}
/* line 28, ../../sass/auth_pages/_auth_pages.sass */
#signinPage button, #signupPage button {
  width: 250px;
  height: 50px;
  margin-left: -5px;
  background-color: #222e42;
  color: white;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-indent: 8px;
}
/* line 37, ../../sass/auth_pages/_auth_pages.sass */
#signinPage button img, #signupPage button img {
  width: 30px;
}
/* line 40, ../../sass/auth_pages/_auth_pages.sass */
#signinPage .error, #signupPage .error {
  color: #d44513;
  margin-top: 15px;
}
/* line 44, ../../sass/auth_pages/_auth_pages.sass */
#signinPage .reset-password, #signupPage .reset-password {
  display: none;
}
