extends layout

block head
  link(rel='stylesheet', href='/css/homepage.css')
block scripts
  script(src='/js/homepage.js')


block body
  h1.bg-black-transp.brand-header
    a.plain(href='/')
      img(src="/img/logo.png" alt="TRYBES logo")
      br
      span TRYBES
  h2.separate.bg-black-transp The social app for active men who like men.

  h3.bg-black-transp
    .fitted-container.
      TRYBES is an online &amp; mobile community for men who value an active lifestyle and a hassle-free way to get in touch with other gay guys, couples or groups who share the same interests.

  h3.bg-black-transp.separate
    .fitted-container.
      TRYBES is a networking app to get men in touch through sports: meet guys from your gym, instantly find a tennis partner for an after work game, or organise a group for the occasional weekend hike or surf, it's all up to you.

  .bg-black-transp.prompt
    p.no-margin We are launching soon - sign up for a reminder:
    form.invite-request(method="post")
      input(type='email', placeholder='Email', name='email')
      button(type='submit') Remind me
    br
    span.hidden.error Sorry, your email address was invalid. Please correct any mistakes and try again.

block footer
  ul
    li 
      a(href='/') Home
    li &copy; 2013
    li Made in London
