extends layout

block head
  link(rel='stylesheet', href='/stylesheets/homepage.css')
block footer
  script(src='/javascripts/homepage.js')


block body
  h1.bg-black-transp
    a.plain(href='/') Trybes
  
  h2.bg-black-transp What is Trybes?

  h2.bg-black-transp Get in touch

  h2.bg-black-transp Terms &amp; Privacy
