<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TRYBES</title>
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

    <link rel="stylesheet" href="css/application.css">
  </head>
  <body>
    
    <div id="appPage" class="app-page">
      <section id="feedView">
        <div class="header-space"></div>
      </section>
      

      <section id="profileView" class="out profile">
        <div class="header-space"></div>
        <p><a href="/app/logout">Logout</a></p>
      </section>
      

      <section id="messageSection" class="out">
        <div class="header-space"></div>
        <div class="chats" id="chats">
          <a href="chatView" class="chat-link js-view-link" id="1000" data-userid="0">
            <img src="/img/user2.jpg" class="chat-message-author" />
            <div class="chat-user-name">Jeroen</div>
            <div class="chat-message-text">4000</div>
            <div class="arrow-right"></div>
          </a>
          <a href="chatView" class="chat-link js-view-link" id="5000" data-userid="0">
            <img src="/img/user2.jpg" class="chat-message-author" />
            <div class="chat-user-name">Jeroen</div>
            <div class="chat-message-text">5000</div>
            <div class="arrow-right"></div>
          </a>
          <a href="chatView" class="chat-link js-view-link" id="3000" data-userid="0">
            <img src="/img/user2.jpg" class="chat-message-author" />
            <div class="chat-user-name">Jeroen</div>
            <div class="chat-message-text">3000</div>
            <div class="arrow-right"></div>
          </a>
          <a href="chatView" class="chat-link js-view-link" id="4000" data-userid="0">
            <img src="/img/user2.jpg" class="chat-message-author" />
            <div class="chat-user-name">Jeroen</div>
            <div class="chat-message-text">4000</div>
            <div class="arrow-right"></div>
          </a>
        </div>
      </section>


      <header class="main-header">
        <ul>
          <li data-id="#profileView"><span class="arrow-up"></span>Profile</li>
          <li data-id="#feedView" class="active"><span class="arrow-up"></span>Feed</li>
          <li data-id="#messageSection"><span class="arrow-up"></span>@</li>
        </ul>
      </header>
    </div>



    <div id="signinPage" class="app-page">
      <div class="display-table">
        <form data-event="dataUserLogin">
          <img src="img/logo.png" class="logo" alt="TRYBES logo">
          <br>
          <input type="email" placeholder="Email" name="email">
          <br>
          <input type="password" placeholder="Password" name="password">
          <br>
          <button type="submit">Enter</button>
          <p class="error"></p>
          <p class="reset-password"><br><a href="http://www.trybes.org/app/reset_password" target="_blank">forgot your password?</a><br></p>
          <p>
            <br>
            <a href="signupPage" class="js-page-link white-link">Sign up</a>
            <br>
            <br>
          </p>
        </form>
      </div>
    </div>



    <div id="signupPage" class="app-page">
      <div class="display-table">
        <form data-event="dataSignup">
          <img src="img/logo.png" class="logo" alt="TRYBES logo">
          <br>
          <br>
          <a href="signinPage" class="js-page-link white-link">back to Sign in</a>
          <br>
          <br>
          <input type="text" placeholder="Name" name="name">
          <br>
          <input type="email" placeholder="Email" name="email">
          <br>
          <input type="password" placeholder="Password" name="password">
          <br>
          <button type="submit">Join</button>
          <p class="error"></p>
          <label>We will only ever send mail if it's regarding your account. No spam. No commercials.</label>
        </form>
      </div>
    </div>


    <div id="app-view">
    </div>


    <div id="firstLoad">
      <img src="img/logo.png" alt="TRYBES logo" class="logo animPulse">
    </div>
    
    <!--[if IE]>
      <script src="bower_components/es5-shim/es5-shim.min.js"></script>
      <script src="bower_components/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/hogan/hogan.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/requirejs/require.js" data-main="js/main.js"></script>
  </body>
</html>
