extends layout

block head
  link(rel='stylesheet', href='/stylesheets/homepage.css')
block footer
  script(src='/javascripts/homepage.js')


block body
  h1 Trybes
  h2 The social app for gays, with an active lifestyle.
  h3 A community for guys who are interested in an active lifestyle from fitness and health, to working out and outdoor sports.
  // h3 Get talking and meet up with men from your area.

  p We are invite only at the moment.
    input(type='email', placeholder='Email')
    button Request an invite
  
  p Got an invitation code?&nbsp;
    a(href='#') Claim it here.

  
  footer
    ul
      li 
        a(href='/about') About
      li
        a(href='/terms') Terms &amp; Conditions
      li
        a(href='/privacy') Privacy Policy
      li Made in London