extends layout

block head
  link(rel='stylesheet', href='/css/homepage.css')
block scripts
  script(src='/js/homepage.js')


block body
  h1.bg-black-transp.brand-header
    a.plain(href='/')
      img(src="/img/logo-blue.png" alt="TRYBES logo")
      span TRYBES

  h2.separate.bg-black-transp The social app for active men who like men.

  .bg-black-transp.prompt
    if !success
      p.no-margin We are launching soon - sign up for a reminder:
      form.invite-request(method="post")
        input(type='email', placeholder='Email', name='email')
        button(type='submit') Remind me
      br
      span.hidden.error Sorry, your email address was invalid. Please correct any mistakes and try again.
      if error
        br
        span.error= error
    else
      p Thanks! We will alert you when we launch.

block footer
  ul
    li 
      a(href='/about') About
    li &copy; 2013
    li Made in London
