extends layout

block head
  link(rel='stylesheet', href='/stylesheets/homepage.css')
block footer
  script(src='/javascripts/homepage.js')


block body
  h1.bg-black-transp
    a.plain(href='/') Trybes
  h2.separate.bg-black-transp The social app for gay men with an active lifestyle.
  

  .bg-black-transp.prompt
    p We're launching soon - sign up for a reminder:
    form.invite-request
      input(type='email', placeholder='Email')
      button Remind me
