extends layout

block head
  link(rel='stylesheet', href='/stylesheets/homepage.css')
block footer
  script(src='/javascripts/homepage.js')


block body
  h1.bg-black-transp Trybes
  h2.bg-black-transp The social app for gays, with an active lifestyle.
  // h3.bg-black-transp A community for guys who are interested in anything from fitness and health, to working out and outdoor sports.
  // h3 Get talking and meet up with men from your area.

  .bg-black-transp.prompt
    p We are invite only at the moment:
    form.invite-request
      input(type='email', placeholder='Email')
      button Request an invite
  
  p.bg-black-transp Got an invitation code?&nbsp;
    a(href='/claim') Claim it here.

  
  footer
    ul
      li 
        a(href='/about') About
      li &copy; 2013
      li Made in London