doctype 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="description", content="The social app for active men who like men. TRYBES is an online & mobile community for men who value an active lifestyle, and a hassle-free way to get in touch with other gay guys, couples or groups who share the same interests in sports.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Trybes")
    link(rel="publisher", href="https://plus.google.com/117050340230816653418")

    // icons
    link(rel="apple-touch-icon" href="img/favicon.png")

    title= title
    
    block head
    
    //if IE
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

  body
    .backgrounds
      .weighttraining
      .outdoor

    .content
      block body

    .footer-spacer
    footer
      block footer

    script(src='bower_components/jquery/jquery.min.js')
    block scripts

    // GA
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45597426-1', 'trybes.org');
      ga('send', 'pageview');
