doctype 5
html
  head
  title TRYBES - Login
  style(type="text/css").
    .label {text-align: right}
    .error {color: red}

  body
    h2 Login
    form(method="post")
      table
        tr
          td(class="label") Email
          td
            input(type="text" name="email" value=email)

        tr
          td(class="label") Password
          td
            input(type="password" name="password" value="")
        
        tr
          td(class="error")= loginError
      
      input(type="submit")
