doctype 5
html
  head
  title TRYBES - Signup
  style(type="text/css").
    .label {text-align: right}
    .error {color: red}

  body
    p
      | Already a user?
      a(href="/app/login") Login
    
    h2 Signup
    form(method="post")
      table
        tr
          td(class="label") Email
          td
            input(type="text" name="email" value=email)
          td(class="error")= emailError

        tr
          td(class="label") Password
          td
            input(type="password" name="password" value="")
          td(class="error")= passwordError

        tr
          td(class="label") Verify Password
          td
            input(type="password" name="verify" value="")
          td(class="error")= verifyError

      input(type="submit")
