/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../../sass/homepage.sass */
html {
  width: 100%;
  height: 100%;
}

/* line 10, ../../sass/homepage.sass */
html {
  font-weight: 300;
  font-size: 10px;
  text-align: center;
  color: white;
  background: url(/images/weighttraining.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 20, ../../sass/homepage.sass */
html.background-outdoor {
  background-image: url(/images/outdoor.jpg);
}
@media (max-width: 800px) {
  /* line 10, ../../sass/homepage.sass */
  html {
    font-size: 6px;
  }
}

/* line 26, ../../sass/homepage.sass */
body {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

/* line 32, ../../sass/homepage.sass */
h1, h2, h3, h4 {
  font-family: "Open Sans", Helvetica, sans-serif;
}

/* line 36, ../../sass/homepage.sass */
html, body, p, div, input, button {
  font-family: "Open Sans", Helvetica, sans-serif;
  letter-spacing: 1px;
}

/* line 42, ../../sass/homepage.sass */
a {
  color: inherit;
  font-family: inherit;
}
/* line 45, ../../sass/homepage.sass */
a.plain {
  text-decoration: none;
}

/* line 48, ../../sass/homepage.sass */
.bg-black-transp {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 52, ../../sass/homepage.sass */
.separate {
  margin-bottom: 5%;
}

/* line 55, ../../sass/homepage.sass */
h1, h2, h3, p {
  padding: 10px;
  margin: 1% 2% 0 2%;
  font-weight: 400;
  line-height: 1.5em;
}

/* line 61, ../../sass/homepage.sass */
h1 {
  font-weight: 400;
  font-size: 5em;
  padding: 0;
}
/* line 65, ../../sass/homepage.sass */
h1.brand-header {
  vertical-align: bottom;
  position: relative;
  left: -1em;
}
/* line 69, ../../sass/homepage.sass */
h1.brand-header img {
  width: 2em;
  position: relative;
  bottom: -0.17em;
}
/* line 73, ../../sass/homepage.sass */
h1.brand-header span {
  position: relative;
  top: -0.42em;
  left: 0.3em;
}

/* line 78, ../../sass/homepage.sass */
h2 {
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* line 83, ../../sass/homepage.sass */
h3 {
  font-size: 2em;
  font-weight: 300;
}

/* line 86, ../../sass/homepage.sass */
p {
  font-size: 1.8em;
  font-weight: 300;
}

/* line 90, ../../sass/homepage.sass */
form.invite-request {
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: bottom;
}
/* line 94, ../../sass/homepage.sass */
form.invite-request input {
  border: 0;
  width: 180px;
  height: 30px;
  vertical-align: bottom;
}
/* line 99, ../../sass/homepage.sass */
form.invite-request button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: #222e42;
  color: inherit;
  height: 32px;
  width: 100px;
  font-size: 12px;
  vertical-align: bottom;
}

/* line 110, ../../sass/homepage.sass */
.prompt {
  margin: 1% 2% 0 2%;
}

/* line 113, ../../sass/homepage.sass */
.footer-spacer {
  width: 100%;
  height: 40px;
}

/* line 116, ../../sass/homepage.sass */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  font-weight: 300;
}
/* line 122, ../../sass/homepage.sass */
footer ul {
  margin: 0 auto;
  list-style: none;
  width: 320px;
}
/* line 126, ../../sass/homepage.sass */
footer ul li {
  display: inline-block;
  font-size: 12px;
  margin: 0 10px;
  padding: 10px 0;
}
@media (max-width: 800px) {
  /* line 126, ../../sass/homepage.sass */
  footer ul li {
    font-size: 10px;
  }
}
