/* line 17, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../sass/homepage.sass */
html, body {
  width: 100%;
  height: 100%;
}

/* line 8, ../../sass/homepage.sass */
html {
  font-family: Lato, "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: white;
  background: url(/images/weighttraining.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
}

/* line 16, ../../sass/homepage.sass */
body {
  display: table-cell;
  vertical-align: middle;
}

/* line 20, ../../sass/homepage.sass */
a {
  color: inherit;
}

/* line 23, ../../sass/homepage.sass */
h1, h2, h3, p {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 1% 1% 0 1%;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
}

/* line 32, ../../sass/homepage.sass */
h1 {
  font-weight: 700;
  font-size: 3em;
}

/* line 35, ../../sass/homepage.sass */
h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 8%;
}

/* line 39, ../../sass/homepage.sass */
h3 {
  font-size: 2em;
}

/* line 41, ../../sass/homepage.sass */
p {
  font-size: 1.6em;
}

/* line 44, ../../sass/homepage.sass */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  font-weight: 300;
}
/* line 51, ../../sass/homepage.sass */
footer ul {
  margin: 0 auto;
  list-style: none;
  width: 320px;
}
/* line 55, ../../sass/homepage.sass */
footer ul li {
  display: inline-block;
  font-size: 10px;
  margin: 0 10px;
  padding: 10px 0;
}
