#signinPage
  background-color: Black
  color: White
  text-align: center

  form
    display: table-cell
    vertical-align: middle

  input, button
    width: 230px
    margin-top: 15px
    padding: 10px

  button
    width: 250px
    margin-left: -5px
