<div class="chat">
  <div class="chat-messages" id="chatMessages">
    <div class="header-space"></div>
    <!-- chat_message.html -->
  </div>
  <form class="chat-input" data-event="uiEmitMessage" data-reset="true">
    <input type="text" name="text" value="" placeholder="Send a message...">
    <input type="hidden" name="conversationId" value="{{conversationId}}">
    <button type="submit"><div class="arrow-right"></div></button>
    <button href="imageUploaderView" class="js-view-link">img</button>
  </form>
</div>

<header class="main-header">
  <a href="back" class="js-view-link"><span class="arrow-left"></span></a>
</header>
