<div class="chat">
  <div class="chat-messages">
    <!-- chat_message.html -->
  </div>
  <form class="chat-input" data-event="dataSendMessage">
    <input type="text" name="text" value="" placeholder="Send a message...">
    <input type="hidden" name="conversationId" value="{{conversationId}}">
    <input type="hidden" name="userId" value="{{userId}}">
    <button type="submit"><div class="arrow-right"></div></button>
    <button href="imageUploaderView" class="js-view-link">img</button>
  </form>
</div>

<header class="main-header">
  <a href="back" class="js-view-link arrow-left"></a>
</header>