
header.main-header
  @extend %composite-layer
  position: fixed
  z-index: 5000
  bottom: 0
  left: 0
  height: 40px
  width: 100%
  background-color: Black
  color: White
  text-align: center
  ul
    list-style: none
    width: 300px
    margin: 0 auto
    li
      display: block
      float: left
      position: relative
      width: 100px
      height: 40px
      line-height: 40px
      cursor: pointer
      .arrow-down
        position: absolute
        left: 40px
        top: 0
        visibility: hidden
      &.active
        font-weight: bold
        .arrow-down
          visibility: visible

.header-space
  height: 40px
