
header.main-header
  @extend %composite-layer
  position: fixed
  z-index: 5000
  top: 0
  left: 0
  height: 40px
  width: 100%
  background-color: $trybesDarkBlue
  color: White
  text-align: center
  ul
    list-style: none
    width: 300px
    margin: 0 auto
    li
      display: block
      float: left
      width: 100px
      height: 40px
      line-height: 40px
      cursor: pointer
      &.active
        font-weight: bold
